USE [master]
GO
/****** Object:  Database [chatbot_db]    Script Date: 3/24/2021 11:54:59 PM ******/
CREATE DATABASE [chatbot_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chatbot_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\chatbot_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chatbot_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\chatbot_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chatbot_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chatbot_db]
GO
/****** Object:  Table [dbo].[Colleges]    Script Date: 3/24/2021 11:54:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colleges](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[college_name] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Colleges] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 3/24/2021 11:55:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[college_id] [int] NOT NULL,
	[major_name] [varchar](100) NOT NULL,
	[credit_hour] [float] NOT NULL,
	[total_hours] [int] NOT NULL,
	[study_duration] [int] NOT NULL,
	[min_gpa] [float] NOT NULL,
 CONSTRAINT [PK_Majors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Majors]  WITH CHECK ADD  CONSTRAINT [FK_Majors_Colleges] FOREIGN KEY([college_id])
REFERENCES [dbo].[Colleges] ([id])
GO
ALTER TABLE [dbo].[Majors] CHECK CONSTRAINT [FK_Majors_Colleges]
GO
USE [master]
GO
